@import "tailwindcss";

:root {
  --background: #080b0f;
  --foreground: #f4f4f5;
  --font-area-sans: Arial, Helvetica, sans-serif;
  --font-area-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-area-sans);
  --font-mono: var(--font-area-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-area-sans);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
